<div class="news">
  <div class="news__header">
    <input type="checkbox" id="newsToggle">
    <label for="newsToggle">News Header</label>
    <div class="news__headlines">
      <ul class="news__headline-list">
        <li class="news__headline">
          <a href="#newsItem" class="news__link">Aims is great! User feedback through the roof!</a>
        </li>
        <li class="news__headline">
          <a href="#newsItem" class="news__link">Summon release is out! Find out what's new!</a>
        </li>
        <li class="news__headline">
          <a href="#newsItem" class="news__link">MSA win greatest company ever!</a>
        </li>
        <li class="news__headline">
          <a href="#newsItem" class="news__link">MSA hiring due to outstanding demand!</a>
        </li>
        <li class="news__headline">
          <a href="#newsItem" class="news__link">Material Flex is utter fucking bollocks!</a>
        </li>
      </ul>
    </div>
  </div>
</div>