<div class="msa-app">
    <msa-side-nav></msa-side-nav>
    <div class="content" [ngClass]="{'content--closed': closeContent}">
        <div class="content__header">
            <div class="content__header__cell">
                <input type="checkbox" id="sideToggle">
                <label for="sideToggle" (click)="toggleMenu()">&#9776;</label>
            </div>
            <div class="content__header__cell">AIMS</div>
            <div class="content__header__cell">
                mike@mike.com
                <img src="assets/images/msa-no-tag.png" alt="MSA Rocks!" class="content__header__logo">
            </div>
        </div>
        <msa-news-item></msa-news-item>
        <router-outlet></router-outlet>
        <msa-footer></msa-footer>
    </div>
</div>

<msa-modal-window [modalType]="'news'"
                  [modalHeader]="'Aims is great! User feedback through the roof!'"
                  [modalMessage]="'Of course, MSA is great!'">
</msa-modal-window>

<msa-modal-window [modalType]="'dashboard'"
                  [modalHeader]="'Open Work Orders'"
                  [modalMessage]="'Yeah, we have some open work orders - so what?'">
</msa-modal-window>

<msa-modal-window [modalHeader]="'Disclaimer'"
                  [modalMessage]="'Check it out, I am a modal!'">
</msa-modal-window>
