<div class="">
    <div class="">Work Orders</div>
    <div class="">
        <div class="btn--add">
            <a routerLink="/work-orders/add">+</a>
        </div>
    </div>
</div>
<div class="">
    <div class="">
        <div class="">ID</div>
        <div class="">Order Number</div>
        <div class="">Custom Unique ID</div>
        <div class="">Custom Order ID</div>
        <div class="">Supplier</div>
        <div class="">Serial Number</div>
        <div class="">RFID</div>
        <div class="">Barcode</div>
        <div class="">Sort</div>
        <div class="">Type</div>
    </div>
    <div class="" *ngFor="let workOrder of workOrders">
        <div class="">{{workOrder.id}}</div>
        <div class="">{{workOrder.orderNumber}}</div>
        <div class="">{{workOrder.customUniqueId}}</div>
        <div class="">{{workOrder.customOrderId}}</div>
        <div class="">{{workOrder.supplier}}</div>
        <div class="">{{workOrder.serialNumber}}</div>
        <div class="">{{workOrder.rfid}}</div>
        <div class="">{{workOrder.barcode}}</div>
        <div class="">{{workOrder.sort}}</div>
        <div class="">{{workOrder.type}}</div>
    </div>
</div>
