<div class="work-order__header">
    <div class="work-order__title">Work Orders</div>
    <div class="work-order__add">
        <div class="btn btn--add">
            <a class="btn__link"routerLink="/work-orders/add">+</a>
        </div>
    </div>
</div>
<div class="data-grid">
    <div class="data-grid__row data-grid__row--header">
        <div class="data-grid__cell">ID</div>
        <div class="data-grid__cell">Order Number</div>
        <div class="data-grid__cell">Custom Unique ID</div>
        <div class="data-grid__cell">Custom Order ID</div>
        <div class="data-grid__cell">Supplier</div>
        <div class="data-grid__cell">Serial Number</div>
        <div class="data-grid__cell">RFID</div>
        <div class="data-grid__cell">Barcode</div>
        <div class="data-grid__cell">Sort</div>
        <div class="data-grid__cell">Type</div>
    </div>
    <div class="data-grid__row" *ngFor="let workOrder of workOrders">
        <div class="data-grid__cell">{{workOrder.id}}</div>
        <div class="data-grid__cell">{{workOrder.orderNumber}}</div>
        <div class="data-grid__cell">{{workOrder.customUniqueId}}</div>
        <div class="data-grid__cell">{{workOrder.customOrderId}}</div>
        <div class="data-grid__cell">{{workOrder.supplier}}</div>
        <div class="data-grid__cell">{{workOrder.serialNumber}}</div>
        <div class="data-grid__cell">{{workOrder.rfid}}</div>
        <div class="data-grid__cell">{{workOrder.barcode}}</div>
        <div class="data-grid__cell">{{workOrder.sort}}</div>
        <div class="data-grid__cell">{{workOrder.type}}</div>
    </div>
</div>
