@import 'src/scss/variables';

.work-order {
    &__header {
        display: flex;
        margin: $marginM;
        padding-left: $paddingSM;
    }

    &__title {
        font-size: $h2Font;
    }

    &__add {
        margin-left: auto;
        font-size: $h2Font;
        padding-right: $paddingSM;
    }
}
