<div class="dashboard__item">
  <div class="dashboard__item-header">{{dash.title}}</div>
  <div class="dashboard__item-content">
    <div class="dashboard__figure">
      {{dash.sixty_days}}
      {{dash.count}}
      {{dash.below_notification}}
      <div *ngIf="dash.sixty_days" class="dashboard__text">
        60 Days
      </div>
      <div *ngIf="dash.below_notification" class="dashboard__text" >
        Below Notification
      </div>
    </div>
    <div  class="dashboard__figure">
      {{dash.thirty_days}}
      {{dash.below_minification}}
      <div *ngIf="dash.thirty_days" class="dashboard__text" >
        30 Days
      </div>

      <div *ngIf="dash.below_minification" class="dashboard__text" >
        Below Minification
      </div>
    </div>
  </div>
</div>
