.data-grid {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    margin: $paddingM;
    font: $dataGridFont;

    &__row {
        width: 100%;
        border-bottom: 1px solid #000;
        flex-direction: row;
        display: flex;
        padding: $paddingSM $paddingS;
        box-sizing: border-box;

        &:nth-of-type(even) {
            background-color: $dataGridBgLight;
        }
        &:nth-of-type(odd) {
            background-color: $dataGridBgDark;
        }

        &:hover {
            background-color: $dataGridHoverBg;
        }

        &--header {
            border-top: 1px solid #000;
            background-color: $dataGridHeaderBg !important;
            color: $white;
        }
    }

    &__cell {
        width:10%;
        /*
        display: flex 1;
        flex-flow: row nowrap;
        flex-grow: 1;
        flex-basis: 0;*/
    }
}