<div class="" #workOrder>
  <div class="">
    <ul>
      <li>
        <a href="#section1" (click)="scrollToAnchor('section1', $event)" class="">Section 1</a>
      </li>
      <li>
        <a href="#section2" (click)="scrollToAnchor('section2', $event)" class="">Section 2</a>
      </li>
      <li>
        <a href="#section3" (click)="scrollToAnchor('section3', $event)" class="">Section 3</a>
      </li>
      <li>
        <a href="#section4" (click)="scrollToAnchor('section4', $event)" class="">Section 4</a>
      </li>
    </ul>
  </div>
  <div class="" #aimsForm (scroll)="setActiveLink()">

    <section>
      <h3 class="">Section 1<a name="section1"></a></h3>

      <div class="">
        <label class="" for="orderNumber">Order Number</label>
        <input class="" id="orderNumber" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="customUniqueId">Custom Unique ID</label>
        <input class="" id="customUniqueId" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="customOrderId">Custom Order ID</label>
        <input class="" id="customOrderId" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="supplier">Supplier</label>
        <input class="" id="supplier" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="serialNumber">Serial Number</label>
        <input class="" id="serialNumber" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="rfid">RFID</label>
        <input class="" id="rfid" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="barcode">Barcode</label>
        <input class="" id="barcode" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="manDate">Manufacturing Date</label>
        <input class="" id="manDate" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="inServiceDate">In Service Date</label>
        <input class="" id="inServiceDate" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="purchaseDate">Purchase Date</label>
        <input class="" id="purchaseDate" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="overhaulDate">Overhaul Date</label>
        <input class="" id="overhaulDate" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="birthday">Birthday</label>
        <input class="" id="birthday" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="shoeSize">Shoe Size</label>
        <input class="" id="shoeSize" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="insideLeg">Inside Leg </label>
        <input class="" id="insideLeg" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="hatSize">Hat Size</label>
        <input class="" id="hatSize" msaMsaInput>
      </div>

      <!-- ToDo -- sort and type as drop downs -->

    </section>

    <section>
      <h3 class="aims-form__header">Section 2<a name="section2"></a></h3>

      <div class="">
        <label class="" for="partName">Part Name</label>
        <input class="" id="partName" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="partNumber">Part Number</label>
        <input class="" id="partNumber" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="partType">Part Type</label>
        <input class="" id="partType" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="partThis">Part This</label>
        <input class="" id="partThis" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="partName">Part Name</label>
        <input class="" id="partName" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="partTitle">Part Title</label>
        <input class="" id="partTitle" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="partAddress1">Part Address 1</label>
        <input class="" id="partAddress1" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="partAddress2">Part Address 2</label>
        <input class="" id="partAddress2" msaMsaInput>
      </div>
    </section>

    <section>
      <h3 class="aims-form__header">Section 3<a name="section3"></a></h3>

      <div class="">
        <label class="" for="cat">Cat</label>
        <input class="" id="cat" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="dog">Dog</label>
        <input class="" id="dog" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="mouse">Mouse</label>
        <input class="" id="mouse" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="horse">Horse</label>
        <input class="" id="horse" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="fish">Fish</label>
        <input class="" id="fish" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="shark">Shark</label>
        <input class="" id="shark" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="panda">Panda</label>
        <input class="" id="panda" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="saltAndVingar">Salt & Vinegar</label>
        <input class="" id="saltAndVingar" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="cheeseAndOnion">Cheese & Onion</label>
        <input class="" id="cheeseAndOnion" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="smokeyBacon">Smokey Bacon</label>
        <input class="" id="smokeyBacon" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="readySalted">Ready Salted</label>
        <input class="" id="readySalted" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="pickeledOnion">Pickled Onion</label>
        <input class="" id="pickeledOnion" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="iCurry">Indian Curry</label>
        <input class="" id="iCurry" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="prawnCocktail">Prawn Cocktail</label>
        <input class="" id="prawnCocktail" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="honeyEnglishMustard">Honey & English Mustard</label>
        <input class="" id="honeyEnglishMustard" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="beefMustard">Roast Beef & Mustard</label>
        <input class="" id="beefMustard" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="sweetChilli">Sweet Chilli</label>
        <input class="" id="sweetChilli" msaMsaInput>
      </div>
    </section>

    <section>
      <h3 class="aims-form__header">Section 4<a name="section4"></a></h3>

      <div class="">
        <label class="" for="mars">Mars</label>
        <input class="" id="mars" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="snickers">Snickers</label>
        <input class="" id="snickers" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="twix">Twix</label>
        <input class="" id="twix" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="crunchie">Crunchie</label>
        <input class="" id="crunchie" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="caramel">Caramel</label>
        <input class="" id="caramel" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="boost">Boost</label>
        <input class="" id="boost" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="dairyMilk">Dairy Milk</label>
        <input class="" id="dairyMilk" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="munchies">Munchies</label>
        <input class="" id="munchies" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="ritter">Ritter Sport</label>
        <input class="" id="ritter" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="fruitAndNut">Fruit & Nut</label>
        <input class="" id="fruitAndNut" msaMsaInput>
      </div>

      <div class="">
        <label class="" for="maltesers">Maltesers</label>
        <input class="" id="maltesers" msaMsaInput>
      </div>
    </section>
  </div>
</div>
