<div class="aims-form" #workOrder>
    <div class="aims-form__navigation">
        <ul>
            <li>
                <a href="#section1" (click)="scrollToAnchor('section1', $event)" class="aims-form__anchor">Section 1</a>
            </li>
            <li>
                <a href="#section2" (click)="scrollToAnchor('section2', $event)" class="aims-form__anchor">Section 2</a>
            </li>
            <li>
                <a href="#section3" (click)="scrollToAnchor('section3', $event)" class="aims-form__anchor">Section 3</a>
            </li>
            <li>
                <a href="#section4" (click)="scrollToAnchor('section4', $event)" class="aims-form__anchor">Section 4</a>
            </li>
        </ul>
    </div>
    <div class="aims-form__form" #aimsForm (scroll)="setActiveLink()">

        <section>
            <h3>Section 1<a name="section1"></a></h3>

            <div class="aims-form__group">
                <label class="aims-form__label" for="orderNumber">Order Number</label>
                <input class="aims-form__input" id="orderNumber" msaMsaInput>
            </div>

            <div class="aims-form__group">
                <label class="aims-form__label" for="customUniqueId">Custom Unique ID</label>
                <input class="aims-form__input" id="customUniqueId" msaMsaInput>
            </div>

            <div class="aims-form__group">
                <label class="aims-form__label" for="customOrderId">Custom Order ID</label>
                <input class="aims-form__input" id="customOrderId" msaMsaInput>
            </div>

            <div class="aims-form__group">
                <label class="aims-form__label" for="supplier">Supplier</label>
                <input class="aims-form__input" id="supplier" msaMsaInput>
            </div>

            <div class="aims-form__group">
                <label class="aims-form__label" for="serialNumber">Serial Number</label>
                <input class="aims-form__input" id="serialNumber" msaMsaInput>
            </div>

            <div class="aims-form__group">
                <label class="aims-form__label" for="rfid">RFID</label>
                <input class="aims-form__input" id="rfid" msaMsaInput>
            </div>

            <div class="aims-form__group">
                <label class="aims-form__label" for="barcode">Barcode</label>
                <input class="aims-form__input" id="barcode" msaMsaInput>
            </div>

            <!-- ToDo -- sort and type as drop downs -->

        </section>

        <section>
            Section 2<a name="section2"></a>
        </section>

        <section>
            Section 3<a name="section3"></a>
        </section>

        <section>
            Section 4<a name="section4"></a>
        </section>
    </div>
</div>
